/* 
 *  ==============
 *  Variables
 *  ==============
 */

/* Colors
 * ==============
 *
 * Primary Color: #337Ab7
 * Secondary Color: ---
 * White Variant: #FFFFFF
 * Off-White Variant #1: #EFEFEF 
 * Off-White Variant #2: #7D7D7D
 * Black: #3A3A3A 8?; 
 *
 */


/* 
 *  ==============
 *  Bootstrap
 *  ==============
 */

/* Layout Elements */
.container{

	/*padding: 0px;*/
}

.container .row{

	padding: 0px 25px;
}

/* Buttons */
.btn{

	border-radius: 0px;

	padding: 15px 20px;
	font-size: 0.9em;
}

.btn-primary{

	border-color: #337Ab7;
}

.btn-primary:hover{

	background-color: #3A3A3A;
	border-color: #3A3A3A;
}

form button[type="submit"]{

	width: 25%;
	height: 50px;

	float: right;
}

/* Navigation Elements */
a.navbar-brand{

	font-size: 1.6em;
	font-weight: bold;
}

.navbar-brand img{

	max-height: 50px;
	margin-top: 25px;
}

.navbar .container{

	padding: 0px 40px;
}

a.navbar-brand,
.navbar-nav li a{

	/*Adjust the custom height of the navigation bar here.*/
	line-height: 100px;
    height: 100px;
    padding-top: 0;

    color: #3A3A3A;
}

.navbar-theme-kbs-1{

	background-color: #EFEFEF;
	border: none;
}

.navbar-theme-kbs-1 .container{

	background-color: #FFFFFF;
}

.nav li a,
.nav>li>a:focus{

	font-size: 0.9em;

	background-color: #FFFFFF;
	color: #D0D0D0;
}

.navbar-theme-kbs-1 .navbar-nav>.active>a,
.navbar-theme-kbs-1 .navbar-nav>.active>a:hover,
.navbar-theme-kbs-1 .navbar-nav>li>a:hover{

	background-color: #FFFFFF;
	color: #3A3A3A;
}

/* Modals */
.modal-content{

	border-radius: 0px;
}

/* 
 *  ==============
 *  Global
 *  ==============
 */

*{

	box-sizing: border-box;
	font-family: 'Hind', sans-serif;
}

body{

	/* Default background color for the page. */
	background-color: #FFFFFF;
	
	/* Default text color for the site. */
	/*color: #3A3A3A;*/
	color: #080808;
}

/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* Secondary Text Style... */
/* Place any selector here to which you want to apply the "title" text style. */
.btn,
.navbar-brand,
.nav li a{

	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}

/*Adds a 0.5s transition effect to any properties applied that change on this element.*/
.animated,
.nav li a,
.navbar-brand,
.btn,
.fancy-link{

	-webkit-transition: 0.5s; /* Safari */
    transition: 0.5s;
}

/* The wrapper for the site content*/
.content-wrapper{

	/*Adds a simple margin to the content wrapper to accomodate for the fixed navbar.  Remove this is the navbar is static instead.*/
	margin-top: 100px;
}

/* This is here to standardize each section on the page. */
.container .section{

	min-height: 250px;
	padding: 25px 25px ;

	position: relative;

	background-color: #FFFFFF;
}

/* This is the darker alternative to the section container. */
.dark{

	background-color: #080808;
	color: #FFFFFF;
}

/* This is a container element that centers the content within it vertically. */
.vcenter-container{

	display: flex;
  	flex-direction: column;
  	justify-content: center;

  	height: 100%;
}

/* This is a container element that aligns the content with the bottom of the container. */
.bcenter-container{

	display: flex;
  	flex-direction: column;
  	justify-content: flex-end;
}

.title{

	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	/*margin-bottom: 25px;*/
}

.left{

	float: left;
}

.right{

	float: right;
}

/* A simple style for a link that is typically inline and styled to attract attention. */
.fancy-link{

	/* Update this with the primary color of the site. */
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 1px solid;
	padding-bottom: 5px;

	font-size: 13px;
	line-height: 13px;
	font-weight: 300;
}

.fancy-link:hover{

	/* Replace this with the secondary color of the site. */
	text-decoration: none;
	color: #080808;
}


/* 
 *  ==============
 *  Navigation
 *  ==============
 */

nav.navbar-theme-kbs-1 .container{

	border: 1px solid #EFEFEF;

    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.08);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.08);
}

/* Breadcrumbs */
.row.breadcrumbs{

	padding-left: 0px;
}

.breadcrumbs ul{

	list-style: none;
	margin: 0px;
	padding: 15px;
	padding-left: 0px;
}

.breadcrumbs li{

	display: inline;
	margin-right: 10px;
	font-size: 0.9em;

	text-transform: uppercase;
}

.breadcrumbs li a{

	text-decoration: none;
}

.breadcrumbs li a:hover{

	color: #080808;
}

.breadcrumbs li a i{

	margin-right: 5px;
	
}

/* Readability Normalization */
.readability-normalize{

	font-size: 1.2em;
}

/* Forms */
input.form-control,
select.form-control{

	height: 50px;
	width: 100%;

	padding: 10px;

	border-radius: 0px;

	margin-bottom: 10px;
}

/* Social */
.list-inline{

	list-style: none;
	padding: 0px;
	margin: 0px;
} 

.list-inline li{

	display: inline-block;
	padding-left: 0px
}

.social li a{

	display: inline-block;
	width: 30px;
	height: 30px;

	padding-top: 7px;

	text-align: center;

	background-color: #D7D7D7;
	color: #FFFFFF;
}

.social li a:hover{

	background-color: #080808;
}

ul.inline{

	list-style: none;
	margin: 0px;
	padding: 0px;
}

ul.inline li{

	display: inline;
}

/* 
 *  ==============
 *  Homepage
 *  ==============
 */

/* Subreddit Overview */
#subreddit-overview ul{

	background-color: #f0f0f0;
	border-bottom: 1px solid black;

	padding: 0px 10px;
}

#subreddit-overview li{

	text-transform: uppercase;
	font-size: 0.6em;
}

#subreddit-overview li:not(:last-of-type)::after{

	content: '-';
	margin-left: 5px;
	margin-right: 5px;
}

#subreddit-overview li:last-of-type{

	font-weight: 700;
}

#subreddit-overview li a{

	color: #000000;
	text-decoration: none;
}

#subreddit-overview li a:hover{

	text-decoration: underline;
}


/* Navigation Menu */
#navigation{

	border-bottom: 1px solid #5f99cf;
	background-color: #cee3f8;

	height: 45px;

	position: relative;
}

#navigation img{

	width: 120px;
	height: auto;

	display: inline-block;
	float: left;
}

#navigation ul{

	/*float: left;*/
	position: absolute;
	bottom: 0px;
	left: 135px;
}

#navigation ul li{

	font-size: 0.8em;
	font-weight: 700;

	text-transform: lowercase;
}

#navigation ul li a{

	color: #000000;
}

#navigation ul li:first-of-type{

	text-transform: uppercase;
	margin-right: 10px;
}

#navigation ul li a.filter{

	background-color: #eff7ff;
	border-bottom: 1px solid #5f99cf;
	padding: 2.5px 7.5px;

	color: #369;
}

#navigation ul li a.filter:hover{

	text-decoration: none;
}

#navigation ul li a.filter.active{

	background-color: #FFFFFF;
	border: 1px solid #5f99cf;
	border-bottom: 1px solid transparent;
	color: red;
}

#navigation #login-prompt{

	position: absolute;
	bottom: 0px;
	right: 0px;

	margin-bottom: 0px;

	color: gray;
	font-size: 0.7em;

	background-color: #eff7ff;
	padding: 5px;
}

#navigation #login-prompt .language{

	font-weight: 700;
}

/* Primary Content */
#primary-container{

	width: 100%;
}

#primary-container > div{

	display: inline-block;
	min-height: 100px;

	vertical-align: top;
}

/*Content*/
#primary-container .content{

	width: calc(100% - 305px);
	padding: 10px 25px;

	min-height: 600px;

	/*background-color: red;*/
}

#primary-container .content .item > div{

	display: inline-block;
	vertical-align: middle;
}

#primary-container .content .item{

	margin-bottom: 10px;
}

#primary-container .content .item,
#primary-container .content .item a{

	color: gray;
}

#primary-container .content .item p{

	margin-bottom: 0px;
}

#primary-container .content .item .rank{

	width: 25px;
	text-align: center;
}

#primary-container .content .item .score{

	text-align: center;
	min-width: 60px;
}

#primary-container .content .item .score i{

	font-size: 1.5em;
}

#primary-container .content .item .thumb{

	width: 75px;
	height: 75px;

	/*background-color: red;*/

	background-size: cover !important;
	background-repeat: no-repeat;
	background-position: center;
}

#primary-container .content .item .name{

	max-width: 80%;
	vertical-align: top;
}

#primary-container .content .item .name h4{

	margin: 0px;
}

#primary-container .content .item .name h4 a{

	color: #337ab7;
}

#primary-container .content .item .name h4 a:hover{

	text-decoration: none;
}

#primary-container .content .item .name .secondary{

	margin-top: 5px;
}

#primary-container .content .item .name .secondary a{

	color: #337ab7;
}

#primary-container .content .item .name .secondary,
#primary-container .content .item .name ul{

	font-size: 0.8em;
}

#primary-container .content .item .name ul li{

	margin-right: 10px;

	font-weight: 700;
}

/*Sidebar*/
#primary-container .sidebar{

	width: 300px;

	margin-right: 5px;
	/*padding: 10px;*/
	/*background-color: green;*/
	float: right;
}

#primary-container .sidebar .sidebar-item{

	width: 100%;
	margin-top: 5px; 
	margin-bottom: 10px;
}

#primary-container .sidebar .sidebar-title{

	text-transform: uppercase;
	font-size: 0.9em;
	margin-bottom: 0px;

	color: gray;
}

#primary-container .sidebar .sidebar-search input{

	text-transform: lowercase;
	width: 100%;

	padding: 5px;
	border: 1px solid gray;
}

#primary-container .sidebar .sidebar-login{

	padding: 5px;

	border: 1px solid gray;
}

#primary-container .sidebar .sidebar-login input{

	text-transform: lowercase;
	font-size: 0.8em;
	padding:  5px;
}

#primary-container .sidebar .sidebar-login .form-inline{

	display: inline-block;
	width: 49%;

	margin-bottom: 15px;
}

#primary-container .sidebar .sidebar-login p{

	text-transform: lowercase;
	font-size: 0.8em;

	display: inline-block;
}

#primary-container .sidebar .sidebar-login p a{

	margin-left: 10px;
}

#primary-container input[type="submit"]{

	float: right;
}

#primary-container .sidebar .sidebar-subreddits ul.subreddits{

	list-style: none;
	margin: 0px;
	padding: 5px;

	border: 1px solid gray;
}

#primary-container .sidebar .sidebar-subreddits ul.subreddits li{

	text-transform: lowercase;
	margin-bottom: 5px;
}

#primary-container .sidebar .sidebar-subreddits ul.subreddits li::before{

	content: 'subscribe';

	background-color: #7BB850;
	color: #FFFFFF;
	padding: 5px;
	font-size: 0.7em;

	font-weight: 700px;
	margin-right: 10px;
}

#primary-container .sidebar .sidebar-submit-links a{

	display: inline-block;
	width: 100%;
	height: 40px;
	padding-top: 10px;

	text-align: center;

	margin-bottom: 10px;

	background-color: #369;
	color: #FFFFFF;
}

#primary-container .sidebar .sidebar-submit-links a:hover{

	background-color: gray;
	color: white;

	text-decoration: none;
}

/* Homepage */
.hero{

	width: 100%;
	height: 400px;

	background: linear-gradient(rgba(225, 225, 225, 0.5), rgba(225, 225, 225, 0.4) 50%), url(../images/hero.jpg) no-repeat top;
	background-size: cover;
}

#heading{

	margin-bottom: 25px;
}

#heading p{

	color: #777777;

	max-width: 500px;
}

#new-post,
#new-comment{

	margin-bottom: 40px;
	position: relative;

	padding: 25px;
	padding-top: 10px;
	padding-bottom: 80px;

	border: 1px solid #eff2f7;

	/*opacity: 0.5;*/
}

#new-comment textarea{

	border-radius: 0px;
	margin-bottom: 15px;

	min-height: 150px;

	resize: vertical;
}

.overlay{

	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: calc(100%);
	top:0px;
	left: 0px;
	padding: 10px;

	background-color: #000000;

	color: #EFEFEF;

	opacity: 0.4;

	-webkit-transition: 0.5s; /* Safari */
    transition: 0.5s;
}

.overlay:hover{

	opacity: 0.6;
}


#posts{

	margin-bottom: 50px;
}

.post{

	/*min-height: 50px;*/
	margin-bottom: 25px;

	border: 1px solid #eff2f7;
    box-shadow: 1px 2px 12px 0px rgba(0,0,0,0.08);

    padding: 10px;	

    position: relative;
}

.post .content-container h3{

	font-size: 1.3em;
	margin: 0px;

	/*width: 90%;*/

	/*display: inline-block;*/
	vertical-align: middle;
}

.post .content-container h3 a:hover{

	text-decoration: none;
}

.votes-container{

	display: inline-block;
	vertical-align: middle;

	width: 50px;
	height: 100%;

	font-size: 1.5em;

	text-align: center;

	margin-right: 10px;
}

.votes-container p{

	margin: 0px;
	font-size: 0.9em;

	margin: 5px;

	/*font-weight: 700;*/
}

.content-container{

	padding-top: 10px;
	position: relative;
}

span.meta{

	font-size: 0.8em;
	color: #777777;
	position: absolute;

	bottom: 20px;
	left: 95px;
}

span.meta i{

	margin-right: 5px;
}

span.meta a{

	color: #777777;

	margin-right: 15px;
}


.vote{

	display: inline-block;
	/*background-color: #337ab7;*/
	/*color: #FFFFFF;*/
	/*padding: 5px;*/

	font-size: 1.0em;
	width: 30px;
	height: 30px;

	text-align: center;
	padding-top: 3px;

	color: #3A3A3A;
	opacity: 0.4;

	/*border-radius: 15px;*/

	-webkit-transition: 0.5s; /* Safari */
    transition: 0.5s;
}

a.vote:hover,
a.vote.active{

	/*background-color: #3A3A3A;*/
	/*color: #FFFFFF;*/
	color: #3A3A3A;
	opacity: 1.0;
}

/* Sidebar */
.sidebar-widget{

	background-color: #3A3A3A;
	color: #EFEFEF;

	padding: 20px;

	margin-bottom: 25px;
}

.sidebar-widget .btn:hover{

	background-color: #FFFFFF;
	color: #3A3A3A;
}

.sidebar-widget .btn{

	width: 100%;
	float: none;
}

.sidebar-widget .title{

	color: #FFFFFF;
}

.sidebar-widget h4{

	margin-top: 0px;
}












